<table class="table table">
	<tr>
		<th>Name</th>
		<th>Total</th>
	</tr>
	<tr>
		<td><b>All together</b></td>
		<td><b><%= total %></b> &euro;</td>
	</tr>
<% categories.each do |cat, amount| %>
	<tr>
		<td><%= link_to cat, cat, class:"anchor" %></td>
		<td><%= amount %> &euro;</td>
	</tr>
<% end %>
</table>