<div class="col-md-12">
	<h1><%= @year %> / <%= @month %></h1>
</div>

<div class="col-md-6">
	<%= render 'category_table', categories: @categories %>
</div>

<div class="col-md-12">
	<%= render 'table' %>
</div>
