<div class="jumbotron text-center jumbo-front">
	<h1>Maximize your income</h1>
	<p>Track where you spend your money and bring your life to a whole new level.</p>
	<p>
		<%= link_to "Get started", signup_path, class:"btn btn-light btn-lg btn-new" %>
	</p>
</div>

<div class="row text-center">
	<div class="col-md-4">
		<%= fa_stacked_icon "signal inverse", base: "circle", class: "fa-5x yellow" %>
		<h3>Increase your life quality</h3>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
	</div>
	<div class="col-md-4">
		<%= fa_stacked_icon "male inverse", base: "circle", class: "fa-5x yellow" %>
		<h3>Pay your debts to Joni</h3>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
	<div class="col-md-4">
		<%= fa_stacked_icon "automobile inverse", base: "circle", class: "fa-5x yellow" %>
		<h3>Get that BMW you've always wanted</h3>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
</div>