<div class="jumbotron text-center jumbo-front">
	<h1>Maximize your income</h1>
	<p>Track where you spend your money and bring your life to a whole new level.</p>
	<p>
		<%= link_to "Get started", signup_path, class:"btn btn-light btn-lg btn-new" %>
	</p>
</div>

<div class="row text-center">
	<div class="col-md-4">
		<%= fa_stacked_icon "signal inverse", base: "circle", class: "fa-5x yellow" %>
		<h3>Increase your life quality</h3>
		<p>With Kubera, you are able to track where all your money goes. After you know where the money goes, you are able to kill all the unnecessary money holes from your life.</p>
	</div>
	<div class="col-md-4">
		<%= fa_stacked_icon "male inverse", base: "circle", class: "fa-5x yellow" %>
		<h3>Pay your debts to Make</h3>
		<p>With all the money saved, you are finally able to pay your debts to Make. He will appreciate this and you're friendship will be better than ever.</p>
	</div>
	<div class="col-md-4">
		<%= fa_stacked_icon "automobile inverse", base: "circle", class: "fa-5x yellow" %>
		<h3>Get that BMW you've always wanted</h3>
		<p>If you don't want to pay your debts to Make, you can always buy BMW with all this saved money. Make won't need his money anyway.</p>
	</div>
</div>