<div class="jumbotron text-center jumbo-front">
	<h1>Maximize your income</h1>
	<p>Track where you spend your money.</p>
	<p><%= link_to "Sign up now", signup_path, class:"btn btn-success btn-lg btn-new" %></p>
</div>

<div class="row text-center">
	<div class="col-md-4">
		<h3>Balance your life</h3>
		<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
	</div>
	<div class="col-md-4">
		<h3>Track your outcome</h3>
		<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
	</div>
	<div class="col-md-4">
		<h3>Increase life quality</h3>
		<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
	</div>
</div>