/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* IMPORTS */
@import "font-awesome";

/* VARIABLES*/
$background: #fcfcfc;

$yellow-color: #fece40;

$btn-success: #74d21d;
$btn-info: #74d21d;
$btn-primary: #0056a9;
$btn-danger: #c20202;

$dark-text: #444;


/* CSS */

body,
p, ol, ul, td {
	font-family: 'Open Sans', sans-serif;
}
body {
	color: #555;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 300;
}

.logo {
	max-height: 20px;
}

body,
main {
	background-color: $background;
}

.row {
	padding-top: 50px;
	padding-bottom: 50px;
}

.yellow {
	color: $yellow-color;
}


/* TABLE */

table.table-auto {
	width: auto;
}


/* ANCHORS */
.btn,
.btn:hover,
a,
a:hover {
	transition: all 0.2s linear 0s;
}
a,
a:visited {
	color: #444;
}
a.anchor,
a.anchor:visited {
	color: $dark-text;
	border-bottom: 2px solid $yellow-color;
	font-weight: 700;
}

a.anchor:hover {
	background-color: transparent;
	text-decoration: none;
	border-color: $dark-text;
	color: $dark-text;
}

/* NAVBAR */
a.navbar-brand:hover {
	background-color: transparent;
}
.navbar-light {
	padding: 20px;
}

/* BUTTONS */ 

.btn:visited {
  color: $dark-text;
}

.btn {
	border-width: 3px;
}

.btn-light {
	border-color: #eee;
}
.btn-light:hover {
	background-color: #eee;
	color: #444 !important;
}

.btn-success {
	border-color: $btn-success;
}
.btn-success:hover {
	background-color: $btn-success;
	border-color: $btn-success;
}

.btn-danger {
	border-color: $btn-danger;
}
.btn-danger:hover {
	background-color: $btn-danger;
	border-color: $btn-danger;
}

.btn-primary {
	border-color: $btn-primary;
}
.btn-primary:hover {
	background-color: $btn-primary;
	border-color: $btn-primary;
}

.btn-info:hover, .btn-info:focus, .btn-info.focus, .btn-info:active, .btn-info.active, .open > .btn-info.dropdown-toggle {
  background-color: #12Aeca;
  border-color: #12Aeca;
}

.btn-new {
	background: transparent;
	color: $dark-text;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	padding: 13px 21px;
}
.btn-new:hover {
	color: #fff;
}


/* FRONT */
.jumbo-front .btn {
	color: #eee;
}
li.jumbo-link a {
	color: #eee;
	font-weight: 700;
	text-transform: uppercase;
}
li.jumbo-link a:hover {
	background-color: transparent;
	color: $yellow-color;
}
.jumbo-front .btn:hover {
	color: $dark-text;
}

.jumbotron.jumbo-front {
	border-radius: 0;
}
.jumbo-front h1 {
  margin: 0 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.jumbo-front p {
	margin: 0 0 30px;
}
.jumbo-front {
	padding-top: 180px;
	padding-bottom: 120px;
	margin: -52px -15px 0;
	border-radius: 0;
	background-color: #64d55c;
	color: #fff;
	background-image: url(/images/city.jpg);
	background-position: center center;
	background-size: cover;
}

.jumbo-front p {
	font-weight: 300;
	font-size: 15px;
}


/* FORMS */

.login-form {
	max-width: 500px;
	margin: 0 auto;
}
