<p id="notice"><%= notice %></p>

<div class="col-md-6">
  <h2>Outcome categories</h2>
  <%= render 'table', categories: @outcome %>
</div>

<div class="col-md-6">
  <h2>Income categories</h2>
  <%= render 'table', categories: @income %>
</div>

<div class="clearfix"></div>

<%= link_to 'New Category', new_category_path, class:"btn btn-new btn-success" %>
